.background {
  background-color: rgb(133, 97, 31, 0);
}

.background2 {
  background: #6983a1;
}

.text {
  color: whitesmoke;
  overflow-wrap: break-word;
  hyphens: auto;
}

.text p {
  margin: 0;
  line-height: 1.5;
  font-size: clamp(1rem, calc(0.7vw + 0.5rem), 1.3rem);
}

.text-h2 {
  font-size: clamp(2.1rem, calc(2vw + 0.5rem), 3.3rem);
}


.s6s3-text-block {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.s6s3header {
  color: whitesmoke;
  text-align: center;
}

#fließtext {
  padding: 3rem 1rem;
}

/* Link‑Farben nur innerhalb des s6s3-Blocks */
.s6s3-text-block a {
  color: #b600c7; /* normale Linkfarbe */
  text-decoration: underline;
}

.s6s3-text-block a:visited {
  color: #e400d1; /* besuchte Links */
}

.s6s3-text-block a:hover,
.s6s3-text-block a:focus {
  color: #ffffff; /* hover/focus */
  text-decoration: none;
}