@charset "UTF-8";

/**
*
*  c24
*  2 coumn text
*  hl on top toggle
*
**/

/*======= 320  padding l,r  15  = 290 ===*/

.c24 {
    margin-bottom: 2em;
}

.c24 .leftCol {
    text-align: right;
}


.c24 h1 {
    margin-top: -20px;
}

.c24 {
    border-bottom: 1px solid var(--blue)
}


.c24 .link {
    float: right;
    margin-bottom: 30px;
}

.c24 .link a {
    color: var(--blue);
}


.c24 .link a:hover {
    font-weight: 500;
}


/*======= 576 ========= MEDIA QUERIES ======= border 15 = 546 ===*/

@media only screen and (min-width: 576px) {}

/*======= 768 ========= MEDIA QUERIES ======= border 15 = 738 ===*/

@media only screen and (min-width: 768px) {
    .c24 {
        margin-bottom: 3em;
    }

    .c24 h1 {
        font-size: 2.2em;
    }

    .c24 article {
        display: flex;
        flex-wrap: wrap;
        gap: 6.27%;
        align-items: center;
    }

    .c24 .leftCol {
        width: 31.8%
    }

    .c24 .rightCol {
        width: 61.88%;

    }

    .c24 .overAll {
        width: 100%;
    }
}

/*======= 990 ======== MEDIA QUERIES ======== border 15 = 960 ===*/

@media only screen and (min-width: 990px) {
    .c24 h1 {
        font-size: 2.8em;
    }
}

/*======= 1398 ======= MEDIA QUERIES ======== border 30 = 1338 ==*/

@media only screen and (min-width: 1398px) {
    .c24 h1 {
        font-size: 3em;
    }
}

/*======= 2512 ======= MEDIA QUERIES ==== border 151-45 = 2396 ==*/

@media only screen and (min-width: 2512px) {}

/*END-c24*/