/**
*
*  c101
*  Leaflet Map - with open streetmap
*  with activation DSGVO
*
**/

/*======= 320  padding l,r  15  = 290 ===*/

#anfahrt {
    display: block;
}

#map {
    float: left;
    height: 400px;
    width: 97%;
    z-index: 1;
    position: relative;
    margin-top: 10px;
    background-image: url("map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.leaflet-popup-tip {
    display: none;
}

.ipHint {
    font-size: 0.7em;
}

.dataWarning svg {
    cursor: pointer;
    width: 100px;
    height: 20px;
}

.dataWarning {
    float: left;
    clear: left;
    padding: 0.5em 1em;
    line-height: 1.2em;
}

div#map.dontShowBackground {
    background-image: none;
}

/*space right of map to scroll on iPhones*/

#scrollPhone {
    float: left;
    width: 3%;
    height: 400px;
}

div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-bottom: 35px;
}

/*======= 576 ========= MEDIA QUERIES ======= border 15 = 546 ===*/

@media only screen and (min-width: 576px) {
    #map::before {
        height: 80px;
        top: -47px;
        left: -20px;
    }

    #map {
        margin-top: 20px;
    }
}

/*======= 768 ========= MEDIA QUERIES ======= border 15 = 738 ===*/

@media only screen and (min-width: 768px) {
    #map {
        height: 550px;
    }

    #map::before {
        height: 90px;
        top: -57px;
        left: -20px;
    }

    #map {
        margin-top: 25px;
    }

    #scrollPhone {
        display: none;
    }
}

/*======= 990 ======== MEDIA QUERIES ======== border 15 = 960 ===*/

@media only screen and (min-width: 990px) {
    #map::before {
        height: 113px;
        top: -77px;
        left: -20px;
    }

    #map {
        margin-top: 44px;
    }
}

/*======= 1398 ======= MEDIA QUERIES ======== border 30 = 1338 ==*/

@media only screen and (min-width: 1398px) {
    #map::before {
        height: 170px;
        top: -110px;
        left: -20px;
    }

    #map {
        margin-top: 60px;
    }
}

/*====END c101=======*/